.news--banner {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__left,
  &__right {
    width: 49%;
  }

  &__right__top {
    margin-bottom: 2rem;
  }

  &__bottom {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;

    &__item {
      width: 49%;
    }
  }
}
