// component for display topic
.topic {
  overflow: hidden;
  $padding: 1rem 3rem;

  // common style
  .topic__info {
    padding: $padding;
  }

  .topic__title h2 {
    margin: 1rem 0;
    font-weight: 400;
    font-size: 2rem;
  }

  .topic__author {
    font-size: 1.4rem;
  }

  .topic__cover__container {
    overflow: hidden;
  }

  .topic__cover {
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 300ms;
  }

  .topic__cover__container:hover .topic__cover,
  .topic__cover:hover {
    transform: scale(1.1);
  }

  .topic__summary {
    line-height: 1.5;
  }

  // different type style
  &.topic--cover {
    position: relative;
    display: flex;

    .topic__cover {
      width: 100%;
      display: block;
    }

    .topic__info {
      position: absolute;
      bottom: 0;
      width: 100%;
      left: 0px;
      background: $gradient-black;
      color: $color-white;
    }

    .topic__summary {
      max-height: 0;
      overflow: hidden;
      transition: 500ms all;
      margin: 0;
      padding-top: 5px;
      font-size: 1.3rem;
    }

    .topic__author {
      font-size: 1.3rem;
      color: $color-white;
    }

    &:hover .topic__summary {
      max-height: 100px;
    }

    .topic__title {
      color: $color-white;
      margin: 1rem 0 0.5rem 0;
      display: block;

      h2 {
        font-size: 3rem;
        font-weight: 400;
        margin: 0;
      }
    }
  }

  &.topic--short {
    display: flex;
    align-items: center;

    .topic__cover {
      width: 30%;
      padding-bottom: 30%;
      height: 0;
      flex-shrink: 0;
      background-position: center center;
    }
  }

  &.topic--full {
    display: flex;

    .topic__cover__container {
      flex-shrink: 0;
      width: 35%;
    }

    .topic__cover {
      display: block;
      width: 100%;
      height: 0;
      padding-bottom: $ratio-image;
    }

    .topic__title h2 {
      font-size: 3.5rem;
    }

    .topic__info {
      padding: 2rem 3rem;
    }
  }

  &.topic--video {
    .topic__cover__container {
      position: relative;
    }

    .topic__cover {
      display: block;
      width: 100%;
      height: 0;
      padding-bottom: 80%;
    }

    .topic--video__icon {
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 2;
      transform: translate(-50%, -50%);
      width: 5em;
      height: 5em;
      background-color: rgba($color-black, .7);
      border-radius: 10px;
      background-size: 60% 60%;
    }

    .topic__title h2 {
      font-size: 3rem;
      margin: 1.8rem 0;
      line-height: 1.5;
    }
  }

  &.topic--noborder {
    border: none;
  }
}
