@font-face {
  font-family: 'iconfont';  /* project id 232308 */
  src: url('//at.alicdn.com/t/font_p88zdq6555ng66r.eot');
  src: url('//at.alicdn.com/t/font_p88zdq6555ng66r.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_p88zdq6555ng66r.woff') format('woff'),
  url('//at.alicdn.com/t/font_p88zdq6555ng66r.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_p88zdq6555ng66r.svg#iconfont') format('svg');
}

.iconfont {
  font-family:'iconfont' !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.icon-car:before {
    content: '\e610';
  }

  &.icon-location:before {
    content: '\e611';
  }

  &.icon-time:before {
    content: '\e602';
  }

  &.icon-closed:before {
    content: '\e601';
  }

  &.icon-menu:before {
    content: '\e600';
  }

  &.icon-email:before {
    content: '\e65e';
  }

  &.icon-vote:before {
    content: '\e613';
  }

  &.icon-down:before {
    content: '\e607';
  }

  &.icon-iphone:before {
    content: '\e62f'
  }

  &.icon-safe:before {
    content: '\e604';
  }

  &.icon-userinfo:before {
    content: '\e67a';
  }

  &.icon-bind:before {
    content: '\e617';
  }

  &.icon-subscribe:before {
    content: '\e671';
  }

  &.icon-send:before {
    content: '\e605';
  }

  &.icon-eye:before {
    content: '\e62a';
  }
}
