$moon-ratio: 775 / 788;

.interactive {
  color: $red;
  text-align: center;
  padding: 50px 0;
  overflow: hidden;
  background-color: #161620;
  background-image: image_url('gmis2017/vote/vote-bg.png'), image_url('gmis2017/stars-bg.png');
  background-attachment: fixed, scroll;
  background-repeat: repeat, no-repeat;
  background-size: 10px, 50%;
  background-position: center;

  .moon-elem {
    display: inline-block;
    width: 480px;
    height: 480px * $moon-ratio;
    background-image: image_url('gmis2017/vote/moon-03.png');
    background-size: cover;
    background-position: center;
    margin: 0 auto;
  }
}


@media #{$container-and-down} {
  .interactive {
    background-size: 10px, 100%;
  }

  .interactive .moon-elem {
    width: 300px;
    height: 300px * $moon-ratio;
  }
}
