// icon files

.icon {
  display: inline-block;
  vertical-align: middle;
  width: 22px;
  height: 22px;
}

.icon-search {
  background-image: url(../images/search.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
