// color definitions
$color-black: #000000;

$color-red: #D80000;
$color-red-darken: #A20013;

$color-white: #FEFFFF;
$color-grey: #7F8081;
$color-grey-light: #e3e3e3;

$gradient-black: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.05));

// image ratios
$ratio-image: 56.25%;

// radius 
$radius-card: 2px;

