@import 'normalize-rails';

body {
  background-color: #f9f9f9;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li a {
  text-decoration: none;
}


.container {
  width: 800px;
  margin: 0 auto;
}

header.header {
  display: flex;
}

@import "../common/iconfont";
@import "../account/sidebar";

.wrapper {
  margin-top: 20px;
}

.base-info {
  .avatar-crop {
    display: inline-block;
    position: relative;
  }

  input[type="file"] {
    display: none;
  }

  .avatar {
    position: relative;
    width: 100px;
    height: 100px;
    cursor: pointer;
    background-color: #eee;

    .tip {
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
      font-size: 14px;
      background-color: rgba(0, 0, 0, 0.5);
      line-height: 2;
      color: #fff;
    }
  }

  .preview-avatar {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .avatar-cropper {
    position: absolute;
    top: 30%;
    right: -600px;
    display: none;

    &.show {
      display: block;
    }
  }
}
